# Copyright (c) 2016-2017 Martin Donath <martin.donath@squidfunk.com>
# Copyright (c) 2018 OpenFaaS Author(s)

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.

# Project information
site_name: OpenFaaS
site_description: OpenFaaS - Serverless Functions Made Simple
site_author: OpenFaaS Authors
site_url: https://docs.openfaas.com/

# Repository
repo_name: openfaas/faas
repo_url: https://github.com/openfaas/faas
edit_uri: ""

# edit_uri: edit/docs-revamp/docs/
# edit_uri: blob/docs-revamp/docs/

# remote_name: origin
# remote_branch: gh-pages

# Theme and overrides, i.e. language partial
theme:
  name: material
  icon:
    logo: material/library
    repo: fontawesome/brands/git-alt

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  feature:
    tabs: false
  palette:
    primary: blue
    accent: indigo
  favicon: images/favicon.ico
  logo: images/logo.svg

# Copyright
copyright: "Copyright &copy; 2024 OpenFaaS Author(s)"

# Options
extra:
  analytics:
    provider: google
    property: G-VN3JWY5DTN
    anonymize_ip: true
  search:
    languages: "en"
  social:
    - icon: fontawesome/solid/earth-europe
      link: https://www.openfaas.com/
    - icon: fontawesome/brands/github-alt
      link: https://github.com/openfaas
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/openfaas

extra_css:
  - stylesheets/extra.css

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page tree
nav:
  - Overview:
      - Introduction: index.md
      - Community: community.md
  - Getting Started:
      - Deployment overview: deployment.md
      - OpenFaaS CE: ./deployment/kubernetes.md
      - OpenFaaS Pro: ./deployment/pro.md
      - OpenFaaS Edge: ./deployment/edge.md
      - OpenShift: ./deployment/openshift.md
      - Troubleshooting: ./deployment/troubleshooting.md
  - CLI:
      - Installation: ./cli/install.md
      - Create functions: ./cli/templates.md
      - Build functions: ./cli/build.md
      - Manage secrets: ./cli/secrets.md
      - Logs: ./cli/logs.md
      - Working with image tags: ./cli/tags.md
      - Shell auto completion: ./cli/completion.md
  - Languages:
    - Overview: ./languages/overview.md
    - Go: ./languages/go.md
    - Node: ./languages/node.md
    - Python: ./languages/python.md
    - C#: ./languages/csharp.md
    - PHP: ./languages/php.md
    - Dockerfile: ./languages/dockerfile.md
    - Custom: ./languages/custom.md
  - OpenFaaS Pro:
      - Overview: ./openfaas-pro/introduction.md
      - Scale to Zero: ./openfaas-pro/scale-to-zero.md
      - Dashboard: ./openfaas-pro/dashboard.md
      - Retries: ./openfaas-pro/retries.md
      - IAM & Policy:
        - Overview: ./openfaas-pro/iam/overview.md
        - IAM Example: ./openfaas-pro/iam/example-auth0.md 
        - Function Authentication: ./openfaas-pro/iam/function-authentication.md
        - GitHub Actions Federation: ./openfaas-pro/iam/github-actions-federation.md
        - GitLab Federation: ./openfaas-pro/iam/gitlab-federation.md
        - Auditing Events: ./openfaas-pro/iam/auditing.md
        - Troubleshooting: ./openfaas-pro/iam/troubleshooting.md
      - Single Sign-On:
          - Overview: ./openfaas-pro/sso/overview.md
          - Google: ./openfaas-pro/sso/google.md
          - Keycloak: ./openfaas-pro/sso/keycloak.md
          - Microsoft Entra: ./openfaas-pro/sso/microsoft-entra.md
          - Okta: ./openfaas-pro/sso/okta.md
          - SSO with the CLI: ./openfaas-pro/sso/cli.md
      - Function CRD: ./openfaas-pro/function-crd.md
      - JetStream: ./openfaas-pro/jetstream.md
      - Kafka events: ./openfaas-pro/kafka-events.md
      - Postgres events: ./openfaas-pro/postgres-events.md
      - AWS SQS events: ./openfaas-pro/sqs-events.md
      - AWS SNS events: ./openfaas-pro/sns-events.md
      - RabbitMQ events: ./openfaas-pro/rabbitmq-events.md
      # - Federated Gateway: ./openfaas-pro/federated-gateway.md
      - Airgapped installation: ./openfaas-pro/airgap.md
      - Function Builder API: ./openfaas-pro/builder.md
      - Billing metrics: ./openfaas-pro/billing-metrics.md
      - Grafana dashboards: ./openfaas-pro/grafana-dashboards.md
  - Reference:
    - OpenFaaS YAML: ./reference/yaml.md
    - REST API: ./reference/rest-api.md
    - TLS for OpenFaaS: ./reference/tls-openfaas.md
    - TLS for Functions: ./reference/tls-functions.md
    - Async: ./reference/async.md
    - Private Registries: ./reference/private-registries.md
    - Secrets: ./reference/secrets.md
    - Triggers: ./reference/triggers.md
    - Workloads: ./reference/workloads.md
    - Cron: ./reference/cron.md
    - CI/CD:
      - Intro: ./reference/cicd/intro.md
      - GitHub Actions: ./reference/cicd/github-actions.md
      - Function Builder API: ./openfaas-pro/builder.md
      - GitLab: ./reference/cicd/gitlab.md
      - Jenkins: ./reference/cicd/jenkins.md
    - Namespaces: ./reference/namespaces.md
    - Authentication: ./reference/authentication.md
    - CORS: ./reference/cors.md
    - Profiles: ./reference/profiles.md
  - Design & Architecture:
      - Invocations: ./architecture/invocations.md
      - Autoscaling: ./architecture/autoscaling.md
      - Gateway: ./architecture/gateway.md
      - Watchdog: ./architecture/watchdog.md
      - Metrics: ./architecture/metrics.md
      - Stack: ./architecture/stack.md
      - Production: ./architecture/production.md
      - Performance: ./architecture/performance.md
      - FaaS Provider: ./architecture/faas-provider.md
      - Logs Provider: ./architecture/logs-provider.md
  - Training:
      - Overview: ./tutorials/training.md
  - Tutorials:
      - Extended timeouts: ./tutorials/expanded-timeouts.md
      - CLI with Node.js: ./tutorials/CLI-with-node.md
      - First Python Function: ./tutorials/first-python-function.md
      - Local Ingress with KinD: ./tutorials/local-kind-ingress.md
      - Local Registry with KinD: ./tutorials/local-kind-registry.md
      - Featured: ./tutorials/featured.md
      - Metrics retention: ./tutorials/long-term-metrics-retention.md
  - Contributing:
      - Get Started: ./contributing/get-started.md
      - Code Repositories: ./contributing/code-repositories.md
