.md-logo {
    width: 52px;
    height: 52px;
    padding-top: 2px;
}
.md-logo img {
    width: 36px;
    height: 36px;
}

.md-header,.md-footer-nav {
    background-image: linear-gradient(45deg, rgb(53, 112, 227) 0%, rgb(53, 112, 227) 24%, rgb(42, 125, 227) 53%, rgb(27, 141, 226) 78%, rgb(8, 162, 225) 100%);
}

.logos img {
    flex: 1 1 auto;
    padding: 22px;
    max-width: 220px;
    max-height: 101px;
    vertical-align: middle;
}

.logos img[alt="University of Calgary"] {
    padding: 8px;
}
